* {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    min-height: 22px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
    border-width: 2px;
    border-color: rgba(229, 85, 0, 0);
    border-style: solid;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px;
    margin-top: 15px;
}

button {
    border: 0;
    margin: 2px 0;
    color: #bbc2cf;
    border-style: solid;
}

button:hover,
#workspaces button:hover {
    color: #f0f004;
}

button:hover {
    border-radius: 0;
    box-shadow: none;
}

#window,
#tray,
#clock,
#battery,
#network,
#pulseaudio,
#workspaces,
#custom-nowplaying {
    padding: 5px 12px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 5px;
    color: #f0f004;
}

#workspaces * {
    font-size: 28px;
    margin: 0px 2px;
    padding: 0px 0px;
}

#workspaces button {
    background-color: transparent;
}

#workspaces button.visible {
    color: #ff5f00;
}

#workspaces button.focused.current_output {
    color: #f0f004;
}

#workspaces button.urgent {
    color: #7bc275;
}

#clock {
    font-family: "JetBrains Mono, Bold";
    color: #ff5f00;
}

#window {
    color: #99CCCC;
}

window#waybar.empty #window,
window#waybar.wofi #window {
    background: transparent;
}

#battery {
  color: #7bc275;
}

#battery.charging {
  color: #ffffff;
  background: linear-gradient(90deg, 
    rgba(111,175,105,1) 0%, 
    rgba(111,175,105,0.95) 15%, 
    rgba(221,221,4,0.9) 40%, 
    rgba(235,88,0,0.85) 65%, 
    rgba(211,0,0,0.8) 100%);
}

#battery.level-40.charging,
#battery.level-50.charging {
  background: linear-gradient(90deg, 
    rgba(111,175,105,1) 0%, 
    rgba(221,221,4,0.9) 35%, 
    rgba(235,88,0,0.85) 45%, 
    rgba(211,0,0,0.8) 75%, 
    rgba(211,0,0,0.8) 100%);
}

#battery.level-20.charging,
#battery.level-30.charging {
  background: linear-gradient(90deg, 
    rgba(111,175,105,1) 0%, 
    rgba(221,221,4,0.85) 15%, 
    rgba(235,88,0,0.8) 35%, 
    rgba(211,0,0,0.75) 60%, 
    rgba(211,0,0,0.7) 100%);
}

#battery.level-10.charging {
  background: linear-gradient(90deg, 
    rgba(111,175,105,1) 0%, 
    rgba(221,221,4,0.8) 10%, 
    rgba(235,88,0,0.75) 25%, 
    rgba(211,0,0,0.7) 40%, 
    rgba(211,0,0,0.65) 100%);
}

#battery.level-50:not(.charging) {
      color: #f0f004;
}

#battery.level-40:not(.charging),
#battery.level-30:not(.charging) {
      color: #ff5f00;
}

#battery.level-10:not(.charging),
#battery.level-20:not(.charging) {
      color: #e50000;
}

#pulseaudio {
    color: rgba(111,175,105,1);
}

#pulseaudio.bluetooth {
      color: #99CCCC;
}

#pulseaudio.muted {
      color: #ff5f00;
}

#custom-nowplaying {
    color: #ffffff;
    background: linear-gradient(10deg,
    rgba(138,184,184,0.6) 0%,
    rgba(221,221,4,0.6) 30%,
    rgba(235,88,0,0.6) 50%,
    rgba(138,184,184,0.6) 90%);
}

