#!/bin/zsh
# Enable colors and change prompt:
autoload -U colors && colors	# Load colors
autoload -Uz add-zsh-hook vcs_info
setopt autocd		# Automatically cd into typed directory.
stty stop undef		# Disable ctrl-s to freeze terminal.
setopt interactive_comments
setopt correct

# History in cache directory:

# Load aliases and shortcuts if existent.
source "${XDG_CONFIG_HOME:-$HOME/.config}/shell/aliasrc" 2>/dev/null
source "${XDG_CONFIG_HOME:-$HOME/.config}/shell/functionrc" 2>/dev/null

# Basic auto/tab complete:
autoload -U compinit
zstyle ':completion:*' menu select
zmodload zsh/complist
compinit
_comp_options+=(globdots)		# Include hidden files.

# vi mode
bindkey -v
export KEYTIMEOUT=1

# Use vim keys in tab complete menu:
bindkey -M menuselect 'h' vi-backward-char
bindkey -M menuselect 'k' vi-up-line-or-history
bindkey -M menuselect 'l' vi-forward-char
bindkey -M menuselect 'j' vi-down-line-or-history
bindkey -v '^?' backward-delete-char

# Kitty Completion
autoload -Uz compinit
compinit
# Completion for kitty
kitty + complete setup zsh | source /dev/stdin

# Edit line in vim with ctrl-e:
autoload edit-command-line; zle -N edit-command-line
bindkey '^e' edit-command-line
#
# Command Not Found Handler
function command_not_found_handler() 
    {
    if [ -x /usr/lib/command-not-found ]; then
        /usr/lib/command-not-found -- "$1";
        return $?;
    else
        if [ -x /usr/share/command-not-found/command-not-found ]; then
            /usr/share/command-not-found/command-not-found -- "$1";
            return $?;
        else
            printf "%s: command not found\n" "$1" 1>&2;
            return 127;
        fi;
    fi
    }

# starship prompt
eval "$(starship init zsh)"

# Load syntax highlighting; should be last.
#source ~/projects/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh 2>/dev/null
{{- if eq .chezmoi.osjelease.id "arch" -}}
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh 2>/dev/null
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh 2>/dev/null
{{- end }}
{{- if eq .chezmoi.osrelease.id "debian" or "ubuntu" or "fedora"  -}}
source /usr/share/zsh/zsh-autosuggestions.zsh 2>/dev/null
source /usr/share/zsh/zsh-syntax-highlighting.zsh 2>/dev/null
{{- end }}
